<!DOCTYPE html >
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacts</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link rel="stylesheet" href="/home-style.css">
</head>

<body data-bs-theme="light">
    <div id="head">
        <i class="fas fa-bars fa-xl menuBtn" id="sidebarBtn-desktop"></i>
        <div class="dropdown" id="mobile-only" style="background-color: #1e1e1e;">
            <button class="btn btn-light dropdown-toggle menuBtn" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="fas fa-bars fa-xl"></i>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item" href="#">My contacts</a></li>
                <li><a class="dropdown-item" href="#">Folders</a></li>
                <li><a class="dropdown-item" href="/features">Features</a></li>
                <li><a class="dropdown-item" href="/about">About</a></li>
            </ul>
        </div>
        <img src="./Assets/logo.png" alt="Some Logo" id="logo">
        <div class="search-wrapper" style="background-color: #1e1e1e;">
            <form class="search-form" role="search">
                <input class="form-control me-2 custom-search" type="search" placeholder="Search contacts" aria-label="Search">
                <button class="btn btn-outline-primary" type="submit">Search</button>
            </form>
            <i class="fa-solid fa-magnifying-glass search-icon" style=" background-color: #1e1e1e; "></i>
        </div>
        <div class="right-icons">
            <i class="fa-solid fa-circle-plus" onclick="window.location.href='home/add-contact'"></i>
            <div class="dropdown" style=" background-color: inherit;">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <div class="user-icon-wrapper" style="background-color: #1e1e1e; width: 36px; height: 36px; border-radius: 50%; overflow: hidden; display: flex; align-items: center; justify-content: center;">
                        <% if (userPhoto && userPhoto.trim() !== '') { %>
                            <img src="<%= userPhoto %>" alt="User Photo" style="width: 100%; height: 100%; object-fit: cover;">
                        <% } else { %>
                            <i class="fa-solid fa-circle-user text-light" style="font-size: 26px;"></i>
                        <% } %>
                    </div>
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/home/profile/<%=userId%>">Profile</a></li>
                    <li><a class="dropdown-item" href="/about">About</a></li>
                    <li><a class="dropdown-item" href="/features">Features</a></li>
                    <li><a class="dropdown-item" href="/">Log Out</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="main">
        <div id="sidebar" class="hidden">
            <ul>
                <br><br>
                <li><a href="/home">My contacts</a></li>
                <li><a href="/folders">Folders</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/features">Features</a></li>
                <div id="add-btn">
                    <button class="add" onclick="window.location.href='home/add-contact'"><i class="fa-solid fa-plus" style="background-color: inherit;"></i>Add Contact</button>
                    <button class="add"><i class="fa-solid fa-plus" style="background-color: inherit;"></i>Add Folder</button>
                    <button class="add" onclick="window.location.href='home/help'" style="margin-top: 2.5rem;"><i class="fa-solid fa-circle-info" style="background-color: inherit;"></i>Help</button>
                </div>
            </ul>
        </div>
        <div class="content-area">
            <% if(flag){ %>
                <div class="contact-wrapper">
                    <div class="contact-scroll">
                        <div class="contact-head">
                            <span class="user" style="background-color: inherit;">
                            <input type="checkbox" name="subscribe" value="no">
                            <span class="name" style="background-color: inherit;">Name</span>
                            </span>
                            <span></span>
                            <span class="number" style="background-color: inherit;">Contact</span>
                            <span class="email" style="background-color: inherit;">
                            <span ></span>
                            <span style="background-color: inherit;">Mail</span>
                            </span>
                        </div>
                        <div class="contact">
                            <% for(let contact of allContacts){ %>
                                <div class="ind-contact" style="overflow:visible;">
                                    <div class="user" style="background-color: inherit;">
                                        <input type="checkbox" name="contactIds" value="<%= contact._id %>">
                                        <img src="<%=contact.photo%>" alt="user" />
                                        <span class="name" style="background-color: inherit;"><%=contact.name%></span>
                                    </div>
                                    <div style="background-color: inherit;">
                                        <a href="/home/info/<%=contact._id%>" style="background-color: inherit;"><i class="fa-solid fa-circle-info" id="info" style="background-color: inherit;" ></i></a>
                                        <a href="/home/edit/<%=contact._id%>" style="background-color: inherit;"><i class="fa-solid fa-pen-to-square" id="info" style="background-color: inherit;" ></i></a>
                                        <form action="/home/delete/<%= contact._id %>?_method=DELETE" method="POST" style="display:inline; background-color: inherit;">
                                            <button type="submit" style="border:none; background: inherit; padding: 0; color: inherit; cursor: pointer;">
                                            <i class="fa-solid fa-trash" id="info" style="background-color: inherit;"></i>
                                        </button>
                                        </form>
                                        <i class="" id="delete" style="background-color: inherit;"></i>
                                    </div>
                                    <div class="number" style="background-color: inherit;">
                                        <i class="fa-solid fa-phone" style="background-color: inherit;"></i>
                                        <span style="background-color: inherit;"><%=contact.number%></span>
                                    </div>
                                    <div class="email" style="background-color: inherit;">
                                        <i class="fa-solid fa-envelope" style="background-color: inherit;"></i>
                                        <span style="background-color: inherit;"><%=contact.email%></span>
                                    </div>
                                </div>
                                <% } %>
                        </div>
                    </div>
                </div>

                <% } else{ %>
                    <div class="folders">
                        <div class="container my-5 folder-wrapper">
                            <h2 class="text-center text-primary mb-4">📁 My Folders</h2>
                            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
                                <div class="col">
                                    <div class="card folder-card shadow">
                                        <div class="card-body">
                                            <% for(let folder of allFolders){ %>
                                                <h5 class="card-title">folder.name</h5>
                                                <div class="d-flex justify-content-between mt-3">
                                                    <button class="btn btn-sm btn-outline-primary">Edit</button>
                                                    <button class="btn btn-sm btn-outline-danger">Delete</button>
                                                </div>
                                                <% } %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <%  } %>
                        </div>
                    </div>
                    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>


                    <script src="app.js"></script>
</body>

</html>